
.container{
    height: 100%;
    width:100%;
}


.menu-container{
    height: 100%;
    width:100%;
    display: flex;   
    align-items: center;

}
.item-gap{
    flex:3 3 0%;
}

.item-menu{
    flex:1 1 0%;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Lucida Grande' ,Arial, sans-serif;
}

.item-one{
    flex:1 1 0%;
    font-size:1.4em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.menu-columnar{
    padding-top:5px; 
    animation: 
    stretch
    0.5s
    linear
    0s
    alternate
    1
    none
    running;

}

@keyframes stretch {
    /* 0% {
        transform: translate(0px);
    }
    50% {
        transform: translate(5px);        
    }
    100% {
        transform: translate(10px);
    } */
  }
  

.item-menu-column:last-child{
    padding: 5px 5px 0px 5px;
}

.item-menu-column{
    font-size:0.8em;
    padding:5px;

}

@media only screen  and (min-width : 1024px) {

    .menu-container{
        height: 100%;
        width:100%;
        display: flex;   
        align-items: center; 
    }

    .item-gap{
        flex:6 6 0%;
    }

    .item-menu{
        flex:1 1 0%;
        cursor: pointer;
        text-transform: capitalize;
        font-family: 'Lucida Grande' ,Arial, sans-serif;
    }

    .item-menu:hover{

    }

    .item-one{
        font-size:1.4em;
    }
}    