
body{
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
}

.home-wrapper{
    height: 600px;
    display: grid;
    grid-template-rows: 50px repeat(7,1fr);
    grid-template-columns: repeat(8,1fr);
}


.cover-container{
    grid-row: 1/9;
    grid-column: 1/9;
    background-image: url('../../resources/images/10-min.jpeg');
    background-size: cover;
    background-repeat: none;
}


.header-container{
    grid-row: 1/2;
    grid-column: 1/9;
    position: fixed;
    top:0;
    width: 100%;
    color: #fff;
    display: flex;
    padding:15px;
    background-color: #113558;
}
.scroller-white{
    background-color: #113558;
    box-shadow:10px 0px #444;
}

.first-container{
    grid-row:3/9;
    grid-column: 1/9;
    color:#fff;
    text-align: center;
    padding: 5px 10px;
}

.intro-large-text{
    font-size:1.3em;
    line-height: 2em;
}

.heart-icon-intro{
    height: 30px;
    width:30px;
    margin-left:15px;
}

.intro-normal-text{
    font-size: 0.8em;
    line-height: 1.8em;
    padding:0px 15px;
}

.first-container .intro-button{
    border-radius: 10px;
    background: linear-gradient(#577891,#113558) !important;
}

.first-container .intro-button:hover{
    box-shadow: 1px 3px #555;
}


.desc-wrapper-one{
    height: 600px;
}


@media only screen  and (min-width : 1024px) {
    .home-wrapper{
        height: 1000px;
        display: grid;
        grid-template-rows: 70px repeat(7,1fr);
        grid-template-columns: repeat(8,1fr);
        grid-gap: 5px 5px;
    }

    .header-container{
        grid-row: 1/2;
        grid-column: 1/9;
        position: fixed;
        height:70px;
        top:0;
        color: #fff;
        display: flex;
        padding:0 10em;
        background-color: transparent;
    }
    .scroller-white{
        background-color: #113558;
        box-shadow:10px 0px #444;
    }

    .first-container{
        grid-row:3/6;
        grid-column: 2/6;
        color:#fff;
        text-align: left;
        padding:0px 40px;
        font-family: 'Lato',sans-serif;
        letter-spacing: 1px;
    }    

    .intro-large-text{
        font-size:2em;
        line-height: 2em;
    }

    .heart-icon-intro{
        height: 30px;
        width:30px;
        margin-left:15px;
    }

    .intro-normal-text{
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .first-container .intro-button{
        border-radius: 10px;
        background: linear-gradient(#577891,#113558) !important;
    }

    .first-container .intro-button:hover{
        box-shadow: 1px 3px #555;
    }

    .desc-wrapper-one{
        height: 1000px;
        display: grid;
        grid-template-rows: repeat(7,1fr);
        grid-template-columns: 50px repeat(7,1fr) 50px;
        grid-gap: 5px 5px;
        background:linear-gradient(#7E919D,#fff);
    }

    .products-heading{
        grid-row: 2/3;
        grid-column: 5/6;
        background-color:#0df;
    }

    
    

}










































/* 
@media only screen  and (min-width : 1024px) and (max-width : 1824px) {
    .home-wrapper{
        height: 700px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px 5px;
    }
}

@media only screen  and (min-width : 1824px) {
    .home-wrapper{
        height: 1000px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px 5px;        
    }
} */

