
body{
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    transition: color 300ms ease-in,
}

.home-wrapper{
    height: 600px;
    display: grid;
    grid-template-rows: 50px repeat(7,1fr);
    grid-template-columns: repeat(8,1fr);
}


.cover-container{
    grid-row: 1/9;
    grid-column: 1/9;
    background-image: url('../../resources/images/10-min.jpeg');
    background-size: cover;
    background-repeat: none;
}


.header-container{
    grid-row: 1/2;
    grid-column: 1/9;
    position: fixed;
    top:0;
    width: 100%;
    color: #fff;
    display: flex;
    padding:15px;
    background-color: #113558;
}
.scroller-white{
    background-color: #ffffff;
    color:#11002F;
    box-shadow:10px 0px #444;
}

.first-container{
    grid-row:3/9;
    grid-column: 1/9;
    color:#fff;
    text-align: center;
    padding: 5px 10px;
}

.intro-large-text{
    font-size:1.3em;
    line-height: 2em;
}

.heart-icon-intro{
    height: 30px;
    width:30px;
    margin-left:15px;
}

.intro-normal-text{
    font-size: 0.8em;
    line-height: 1.8em;
    padding:0px 15px;
}

.first-container .intro-button{
    border-radius: 10px;
    background: linear-gradient(#577891,#113558) !important;
}

.first-container .intro-button:hover{
    box-shadow: 1px 3px #555;
}


.desc-wrapper-one{
    height: 271vh;
    display: grid;
    grid-template-rows: 30px repeat(6,1fr) 20px;
    grid-template-columns: 30px repeat(1,1fr) 20px;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    background:linear-gradient(#fff,#7E919D);
}

.product-block-one{
    grid-row: 2/3;
    grid-column: 2/3;
}

.product-block-two{
    grid-row: 3/4;
    grid-column: 2/3;
}

.product-block-three{
    grid-row: 4/5;
    grid-column: 2/3;
}

.product-header{
    font-size:1.5em;
    padding:0px 0px 40px 0px;
}

.product-detail{
    text-align: left;
    padding: 0px 0px 40px 0px;
    font-size:0.9em;
    line-height: 1.4em;
}

.product-link-button{
    border-radius: 20px !important;
    background: linear-gradient(#113558,#7296ac) !important;
}

.lorawan-layer{
    grid-row:5/6;
    grid-column:1/4;
    background-color:rgb(9, 14, 36);
    color:#fff;
    display: grid;
    grid-template-rows: 20px repeat(3,1fr) 20px;
    grid-template-columns: 30px 1fr 20px;
}

.lorawan-heading{
    grid-row: 1/2;
    grid-column: 2/5;
    font-weight: 100;
    font-size: 1.4em;
    padding:30px 0px;
}

.lora-feature-one{
    grid-row:2/3;
    grid-column: 2/3;
}
.lora-feature-two{
    grid-row:3/4;
    grid-column: 2/3;
}
.lora-feature-three{
    grid-row:4/5;
    grid-column: 2/3;
}

.feature-picture{
    height: 80px;
    width:80px;
    margin: 60px 0px 20px 0px;
}

.feature-name{
    font-size:1em;
    padding-bottom: 5px;
}

.feature-meta{
    color:#aaa;
    font-size: 0.9em
}


.footer-large{
    display: none;
}
.footer{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.company-name-footer{
    font-size: 0.9em;
}
.company-markers-footer{
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-logo{
    height: 40px;
    width:40px;
    margin: 10px 30px 0px 0px;
}

.contact-details{
    flex: 1 1 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.phone{
    padding-right:5px;
}


@media only screen and (min-width : 768px){
    .home-wrapper{
        height: 700px;
        display: grid;
        grid-template-rows: 70px repeat(7,1fr);
        grid-template-columns: repeat(8,1fr);
    }
}

@media only screen  and (min-width : 1024px) {
    .home-wrapper{
        height: 1000px;
        display: grid;
        grid-template-rows: 70px repeat(7,1fr);
        grid-template-columns: repeat(8,1fr);
    }

    .header-container{
        grid-row: 1/2;
        grid-column: 1/9;
        position: fixed;
        height:70px;
        top:0;
        color: #fff;
        display: flex;
        padding:0 10em;
        background-color: transparent;
        transition: background-color 1000ms ease, color 500ms ease, height 500ms ease;
        
    }
    .scroller-white{
        background-color: rgb(240, 237, 245);
        color:#11002F;
        height: 60px;
        box-shadow:10px 0px #444;
        transition: background-color 500ms ease-in, color 300ms ease-in, height 500ms ease-in;
        
    }

    .first-container{
        grid-row:3/6;
        grid-column: 2/6;
        color:#fff;
        text-align: left;
        padding:0px 40px;
        font-family: 'Lato',sans-serif;
        letter-spacing: 1px;
    }    

    .intro-large-text{
        font-size:2em;
        line-height: 2em;
    }

    .heart-icon-intro{
        height: 30px;
        width:30px;
        margin-left:15px;
    }

    .intro-normal-text{
        font-size: 1.1em;
        line-height: 1.8em;
        padding-left:0px;
    }

    .first-container .intro-button{
        border-radius: 10px;
        background: linear-gradient(#113558,#577891) !important;
    }

    .first-container .intro-button:hover{
        box-shadow: 1px 3px #555;
    }

    .desc-wrapper-one{
        height: 1000px;
        display: grid;
        grid-template-rows: 150px repeat(4,1fr) 0px;
        grid-template-columns: 250px repeat(3,1fr) 250px;
        grid-column-gap: 50px;
        grid-row-gap: 0px;
        background:linear-gradient(#fff,#7E919D);
    }

    .product-block-one{
        grid-row: 2/4;
        grid-column: 2/3;
    }

    .product-block-two{
        grid-row: 2/4;
        grid-column: 3/4;
    }

    .product-block-three{
        grid-row: 2/4;
        grid-column: 4/5;
    }

    .product-header{
        font-size:1.5em;
        padding:0px 0px 40px 0px;
    }

    .product-detail{
        text-align: left;
        padding: 0px 0px 40px 0px;
        line-height: 1.6em;
        font-size:1em;
    }

    .product-link-button{
        border-radius: 20px !important;
        background: linear-gradient(#113558,#7296ac) !important;
    }

    .lorawan-layer{
        grid-row:4/6;
        grid-column: 1/6;
        background-color:rgb(9, 14, 36);
        color:#fff;
        display: grid;
        grid-template-rows: 80px 1fr;
        grid-template-columns: 250px repeat(3,1fr) 250px;
    }

    .lorawan-heading{
        grid-row: 1/2;
        grid-column: 2/5;
        font-weight: 100;
        font-size: 1.5em;
        padding:45px 0px;
    }

    .lora-feature-one{
        grid-row:2/3;
        grid-column: 2/3;
    }
    .lora-feature-two{
        grid-row:2/3;
        grid-column: 3/4;
    }
    .lora-feature-three{
        grid-row:2/3;
        grid-column: 4/5;
    }

    .feature-picture{
        height: 100px;
        width:100px;
        margin: 45px 0px;
    }
    
    .feature-name{
        font-size:1.1em;
        padding-bottom: 5px;
    }

    .feature-meta{
        color:#aaa;
    }


    .footer{
        display: none;
    }
    .footer-large{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 90px;
    }
    .company-markers-footer{
        flex: 1 1 0%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-logo{
        height: 60px;
        width:60px;
        margin: 0px 30px 0px 0px;
    }

    .contact-details{
        flex: 1 1 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
    }

    .phone{
        padding-right:5px;
    }

}










































/* 
@media only screen  and (min-width : 1024px) and (max-width : 1824px) {
    .home-wrapper{
        height: 700px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-gap: 5px 5px;
    }
}

@media only screen  and (min-width : 1824px) {
    .home-wrapper{
        height: 1000px;
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px 5px;        
    }
} */

